*{
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    user-select: none;
  }
  
  .yahtzee{
    width: 360px;
    height: 570px;
    position: relative;
    display: grid;
    grid-template-columns: 150px 150px 60px;
    grid-template-rows: repeat(9, 25px) 40px repeat(5, 25px) 40px 40px repeat(5, 25px);
    grid-auto-flow: dense;
    left: 50%;
    margin-left: -180px;
    top: 170px;
    padding-bottom: 50px;
  }
  
  .sectie{
    border: solid black 1px;
    align-content: center;
    display: grid;
    justify-content: center;
  }
  
  .score{
    border: solid black 1px;
    align-content: center;
    display: grid;
    justify-content: center;
  }
  
  .punten{
    border: solid black 1px;
    align-content: center;
    display: grid;
    justify-content: center;
  }
  
  .sectie-8,.sectie-10,.sectie-19,.sectie-20,.sectie-21{
    grid-column: span 2;
  }
  
  .sectie-11,.sectie-0{
    grid-column: span 3;
  }
  
  .container{
    border: black solid 2px;
    width: 360px;
    height: 150px;
    position: relative;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -180px;
    
  }
  
  
  
  .rol{
    grid-column: span 5;
    border: solid black 1px;
    align-content: center;
    display: grid;
    justify-content: center;
    font-size: 30PX;
  }
  
  .dobbelsteen{
    align-content: center;
    display: grid;
    justify-content: center;
    font-size: 50px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position-y: 1px;
    background-position-x: -1px;
  }
  
  #dobbelsteen-1{
    background-image: url('dice6.png');
    border: solid black 1px;
    background-color: white;
  }
  
  #dobbelsteen-2{
    background-image: url('dice6.png');
    border: solid black 1px;
    background-color: white;
  }
  
  #dobbelsteen-3{
    background-image: url('dice6.png');
    border: solid black 1px;
    background-color: white;

  }
  
  #dobbelsteen-4{
    background-image: url('dice6.png');
    border: solid black 1px;
    background-color: white;
  }
  
  #dobbelsteen-5{
    background-image: url('dice6.png');
    border: solid black 1px; 
    background-color: white;
  }
  
  .modal {
    display: none;
    position: fixed;
    border: none;
    z-index: 2;
    padding-top: 24px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 10px;
  }
  
  .modal-content {
    background-color:plum;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    height: 500px;
    font-size: 10px;
    text-align: center;
  }
  
  .model-text{
    text-align: center;
  }
  
  .endScore{
  font-size: 30px;
  }
  
  .playAgain{
    font-size: 30px;
  }


  .RollsLeft{
  font-size: px;
  }